<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.usc.imsc" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/CustomTheme" android:debuggable="true">
		<!-- <application android:icon="@drawable/icon" android:label="@string/app_name" -->
		<!-- android:debuggable="true" android:theme="@android:style/Theme.LiÏght"> -->
		<!-- <activity android:name=".activities.MultichoiceDialogActivity" -->
		<activity android:name=".activities.SplashScreenActivity"
			android:screenOrientation="portrait" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activities.MapBrowserActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.PreferencesActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.WebViewActivity"
			android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".activities.VendorBrowserActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.LayersSelectionActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.SocialActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.SettingsActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".test.EventsActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.GoogleMapLayersActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.AboutActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".facebook.FacebookActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".facebook.FacebookStreamActivity"
			android:label="@string/app_name" android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation">
		</activity>

		<service android:name=".services.SaveLocationIntentService">
		</service>

		<activity android:name=".activities.FoodTabsActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.NearbyFoodsActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.TopFoodsActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.RecentFoodsActivity"
			android:screenOrientation="portrait"></activity>

		<activity android:name=".camera.ImageUploadActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".camera.CameraActivity"
			android:screenOrientation="portrait"></activity>


		<activity android:name=".activities.PersonalizedActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".test.EventActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".test.EventActivityTmp"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.EndlessEventActivity"
			android:screenOrientation="portrait"></activity>


		<uses-library android:required="true" android:name="com.google.android.maps"></uses-library>
	</application>


	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />


</manifest> 